@use 'color';

:root {
  /* Set variables */
  --font-pretendard: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Set dark mode variables */
  }
}

* {
  font-family: var(--font-pretendard);
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::-moz-selection {
    background-color: color.$black;
    color: color.$white;
  }
  &::selection {
    background-color: color.$black;
    color: color.$white;
  }
}

html,
body {
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 17px;
  }
  &::-webkit-scrollbar-track {
    color: color.$black;
    background-color: #4e5454;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #232828;
  }
}

body {
  background-color: color.$black;
  color: color.$white;
  overflow-x: hidden;
  position: relative;
}

main {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
