.hiddenSection {
  .titleArea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    cursor: pointer;
    margin-top: 15px;

    h3 {
      margin: 0;
      font-size: min(22px, 4vw);
    }

    .iconArea {
      width: min(18px, 2vw);

      .icon {
        width: 100%;
      }
    }
  }

  .content {
    overflow: hidden;
  }
}
