@use '@styles/color';

.linkWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;

  a {
    display: flex;
    align-items: center;
    gap: 10px;

    color: color.$black;
    background-color: color.$white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    outline: none;
    border: none;

    &:hover {
      transform: translateY(-3px);
    }

    .icon {
      width: min(25px, 3vw);
      height: min(25px, 3vw);
    }

    p {
      font-size: min(16px, 3vw);
      font-weight: 500;
    }
  }
}
