.container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}

.text {
  display: inline-block;
  padding-right: max(2vw, 18px);
  font-size: max(10vw, 90px);
  background-clip: text;
  -webkit-text-stroke: max(0.1vw, 1px) white;
  -webkit-background-clip: text;
  color: transparent;
  /* background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%); */
}
