@use '@styles/color';

.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  position: relative;

  * {
    &::-moz-selection {
      background-color: color.$white;
      color: color.$black;
    }
    &::selection {
      background-color: color.$white;
      color: color.$black;
    }
  }
}

.bubbleArea {
  width: 100vw;
  height: calc(100vh - 110px);

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.article {
  width: 100%;
  max-width: 1200px;
  margin-top: 100px;

  @media screen and (max-width: 500px) {
    margin-top: 0px;
  }
}

.marqueeArea1 {
  position: absolute;
  top: 50px;
  z-index: -1;
  transform: rotate(-5deg);
}
.marqueeArea2 {
  position: absolute;
  top: 90vh;
  z-index: -1;
  transform: rotate(2deg);
}
