.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 5000px;
}

.bubbleArea {
  width: 100vw;
  height: calc(100vh - 110px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 3 / 2;
  position: relative;
}

.marqueeArea {
  position: absolute;
  top: 50px;
  z-index: -1;
  transform: rotate(-5deg);
}
